<h2>
 Spent: {{money expenseSum “$”}}
</h2>
<p> Expenses: ({{expenses.length}}) </p>
<ul>
  {{#each expenses as |expense|}}
    <li>
      {{money expense.value}} ({{expense.entryDate}})
    </li>
  {{/each}}
</ul>